<input (keyup)="changeImage($event)">

<p>{{ title.toUpperCase() }} + {{getName()}} app is running!</p>
<p>{{ title | titlecase }}</p>
<p>{{ title}}</p>

<panini [bubba]="doggo" [costoso]="cost" (imgSelected)="logImg($event)">
    <p>Some crazy shish</p>
</panini>

<p> CLICK fot the url of the image is {{imageFullURL}}</p>

<p>the url of the image is {{doggo}}</p>

<p>current date is: ```{{currentDate}}```</p>
<p>current date FORMATTED is: ```{{currentDate | date: 'd/MM/y'}}```</p>

<p>current TEMPERATURE is {{temperature | number: '1.0-0'}}</p>

<pre>{{pizza | json}}</pre>