
<button (click)="blueClass = !blueClass">press that</button>
<p (click)="toggleBlueClass()" [ngClass]="{blue : blueClass}">toggling hard in the paint</p>
<button [ngStyle]="{ 'font-size.px': fontSize, 'color': 'red'}">make america great again</button>

<ng-template [ngIf]="blueClass">
    <p>The content is crippin'</p>
</ng-template>
<p *ngIf="blueClass">All fresh want her, let's go!'</p>
<hr>
<panini *ngFor="let image of images" [bubba]="image"></panini>

<img *ngFor="let image of images; let i = index" [src]="image" [ngStyle]="{ 'height.px': 100 + i*10, 'width.px': 100 + i*10}">

<hr>
<input (keyup)="changeImage($event)">

<p>{{ title.toUpperCase() }} + {{getName()}} app is running!</p>
<p>{{ title | titlecase }}</p>
<p>{{ title}}</p>

<panini [bubba]="doggo" [costoso]="cost" (imgSelected)="logImg($event)">
    <p>Some crazy shish</p>
</panini>

<p> CLICK fot the url of the image is {{imageFullURL}}</p>

<p>the url of the image is {{doggo}}</p>

<p>current date is: ```{{currentDate}}```</p>
<p>current date FORMATTED is: ```{{currentDate | date: 'd/MM/y'}}```</p>

<p>current TEMPERATURE is {{temperature | number: '1.0-0'}}</p>

<pre>{{pizza | json}}</pre>